body{
    margin: 0px;
    padding: 0px;
    color: white;
}
#scene1{    
    background: url(img/bg_for_text.png) no-repeat center center/cover;
    gap: 20px;
    font-size: 64px;
}
.scene{
    min-height: 100vh;
    background-color: #113F0E;
    display: none;
    flex-direction: column;
    align-items: center;
    

}
.scene.active{
    display: flex;
}
.btn-color1{
    background-color: #113F0E; /*Для кнопки з зеленим фоном*/
    border-radius: 50px;
    padding: 30px;
    border: none;
    font-size: 64px;
    color: white;
}
.contaner-text{
    background: url(img/bg_for_text2.png) center center/cover;
    height: 25vh;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}

.btn-color2{
    background-color: #00FF00; /*Для кнопки з світло-зеленим фоном*/
    border-radius: 50px;
    padding: 30px;
    border: none;
    font-size: 30px;
    color: white;
    
}
.btn-and-img{ 
    display: flex;
    justify-content: space-around;
    align-items: center;  
    margin: 20px; 
    gap: 30px;
    
}
.contaner-btn{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 100%;
gap: 50px;


}

